/* src/components/WelcomePage/WelcomePage.css */

.welcome-page {
    background-image: url('../../assets/images/plane.jpg'); /* Update the path to the correct image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center
}

.welcome-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.welcome-content h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.welcome-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.welcome-content .btn {
    font-size: 1.5em;
    padding: 10px 20px;
}
