.payment-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.passenger-info {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.passenger-info h6 {
    margin-bottom: 15px;
}

.passenger-info .form-group {
    margin-bottom: 10px;
}

.total-amount {
    margin-top: 20px;
    font-weight: bold;
}
